.mapboxgl-popup-anchor-bottom-right .mapboxgl-popup-tip {
  border-top-color: transparent;
}

.mapboxgl-popup-content {
  background: none;
  box-shadow: none;
}

.mapboxgl-popup-close-button {
  top: 6px;
  right: 6px;
  color: #000;
  font-size: 25px;
  font-weight: bold;
}

.chart-big{
  width: 400px;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: sans-serif;
}

.chart{
  width: 230px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
